[submodule "CarND/term1/CarND-Traffic-Sign-Classifier"]
	path = CarND/term1/CarND-Traffic-Sign-Classifier
	url = git@github.com:sfefilatyev/CarND-Traffic-Sign-Classifier.git
	branch = master
[submodule "CarND/term3/CarND-Object-Detection-Lab"]
	path = CarND/term3/CarND-Object-Detection-Lab
	url = git@github.com:sfefilatyev/CarND-Object-Detection-Lab.git
	branch = master
[submodule "CarND/term3/CarND-Semantic-Segmentation"]
	path = CarND/term3/CarND-Semantic-Segmentation
	url = git@github.com:sfefilatyev/CarND-Semantic-Segmentation.git
	branch = master
[submodule "CarND/term3/CarND-Path-Planning-Project"]
	path = CarND/term3/CarND-Path-Planning-Project
	url = git@github.com:sfefilatyev/CarND-Path-Planning-Project.git
	branch = master
[submodule "CarND/term2/CarND-MPC-Project"]
	path = CarND/term2/CarND-MPC-Project
	url = git@github.com:sfefilatyev/CarND-MPC-Project.git
	branch = master
