[submodule "CarND/term1/CarND-Traffic-Sign-Classifier"]
	path = CarND/term1/CarND-Traffic-Sign-Classifier
	url = git@github.com:sfefilatyev/CarND-Traffic-Sign-Classifier.git
	branch = master
[submodule "CarND/term3/CarND-Object-Detection-Lab"]
	path = CarND/term3/CarND-Object-Detection-Lab
	url = git@github.com:sfefilatyev/CarND-Object-Detection-Lab.git
	branch = master
[submodule "CarND/term3/CarND-Semantic-Segmentation"]
	path = CarND/term3/CarND-Semantic-Segmentation
	url = git@github.com:sfefilatyev/CarND-Semantic-Segmentation.git
	branch = master
[submodule "CarND/term3/CarND-Path-Planning-Project"]
	path = CarND/term3/CarND-Path-Planning-Project
	url = git@github.com:sfefilatyev/CarND-Path-Planning-Project.git
	branch = master
[submodule "CarND/term2/CarND-MPC-Project"]
	path = CarND/term2/CarND-MPC-Project
	url = git@github.com:sfefilatyev/CarND-MPC-Project.git
	branch = master
[submodule "CarND/term2/CarND-Extended-Kalman-Filter-Project"]
	path = CarND/term2/CarND-Extended-Kalman-Filter-Project
	url = git@github.com:sfefilatyev/CarND-Extended-Kalman-Filter-Project.git
	branch = master
[submodule "CarND/term2/CarND-Kidnapped-Vehicle-Project"]
	path = CarND/term2/CarND-Kidnapped-Vehicle-Project
	url = git@github.com:sfefilatyev/CarND-Kidnapped-Vehicle-Project.git
	branch = master
[submodule "CarND/term2/CarND-PID-Control-Project"]
	path = CarND/term2/CarND-PID-Control-Project
	url = git@github.com:sfefilatyev/CarND-PID-Control-Project.git
	branch = master
[submodule "CarND/term2/CarND-Unscented-Kalman-Filter-Project"]
	path = CarND/term2/CarND-Unscented-Kalman-Filter-Project
	url = git@github.com:sfefilatyev/CarND-Unscented-Kalman-Filter-Project.git
	branch = master
[submodule "CarND/term3/CarND-Capstone"]
	path = CarND/term3/CarND-Capstone
	url = git@github.com:sfefilatyev/CarND-Capstone.git
	branch = master
[submodule "CarND/term1/CarND-Advanced-Lane-Lines"]
	path = CarND/term1/CarND-Advanced-Lane-Lines
	url = git@github.com:sfefilatyev/CarND-Advanced-Lane-Lines.git
	branch = master
[submodule "CarND/term1/CarND-Behavioral-Cloning"]
	path = CarND/term1/CarND-Behavioral-Cloning
	url = git@github.com:sfefilatyev/CarND-Behavioral-Cloning.git
	branch = master
[submodule "CarND/term1/CarND-LaneLines"]
	path = CarND/term1/CarND-LaneLines
	url = git@github.com:sfefilatyev/CarND-LaneLines.git
	branch = master
[submodule "CarND/term1/CarND-Vehicle-Detection"]
	path = CarND/term1/CarND-Vehicle-Detection
	url = git@github.com:sfefilatyev/CarND-Vehicle-Detection.git
	branch = master
